# Aviation Accidents/Incidents

### 1. Import Libraries

In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as pl
import seaborn as sns
import scipy

### 2. Import Data

In [2]:
path = r'C:\Users\nehat\OneDrive\Desktop\CF DA Immersion\Achievement 6\Aviation Accidents In The US'

In [3]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'AviationData.csv'))

In [4]:
# View the dataset

df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,LOCATION,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,2.02E+13,Accident,CEN21FA130,2/16/2021,"JANESVILLE, WI",United States,42.595377,-89.030245,NaN,NaN,...,Ferry,NaN,2.0,0.0,0.0,0.0,VMC,NaN,NaN,NaN
1,2.02E+13,Accident,ERA21FA130,2/15/2021,"St Thomas, CB",United States,18.354444,-65.027778,NaN,NaN,...,Aobv,Caribbean Buzz Management Llc.,4.0,0.0,0.0,0.0,VMC,NaN,NaN,NaN
2,2.02E+13,Accident,ANC21LA017,2/13/2021,"TYONEK, AK",United States,61.336392,-152.016430,NaN,NaN,...,Personal,Paul Andrews,0.0,0.0,2.0,0.0,NaN,NaN,NaN,NaN
3,2.02E+13,Accident,CEN21LA127,2/12/2021,"PRAIRIE DU SAC, WI",United States,43.297731,-89.755693,91C,SAUK-PRAIRIE,...,Instructional,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,NaN
4,2.02E+13,Accident,ERA21LA131,2/10/2021,"LAKE PLACID, FL",United States,27.243723,-81.413767,09FA,NaN,...,Personal,Case Robert,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN

In [5]:
df.tail()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,LOCATION,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
85971,20041105X01764,Accident,CHI79FA064,8/2/1979,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,NaN,VMC,Approach,Probable Cause,16-04-1980
85972,20001218X45448,Accident,LAX96LA321,6/19/1977,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12/9/2000
85973,20061025X01555,Accident,NYC07LA005,8/30/1974,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
85974,20001218X45447,Accident,LAX94LA336,7/19/1962,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
85975,20001218X45444,Accident,SEA87LA080,10/24/1948,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85976 entries, 0 to 85975
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                85976 non-null  object
 1   Investigation.Type      85963 non-null  object
 2   Accident.Number         85976 non-null  object
 3   Event.Date              85976 non-null  object
 4   LOCATION                85898 non-null  object
 5   Country                 85469 non-null  object
 6   Latitude                31587 non-null  float64
 7   Longitude               31578 non-null  float64
 8   Airport.Code            48612 non-null  object
 9   Airport.Name            51298 non-null  object
 10  Injury.Severity         85842 non-null  object
 11  Aircraft.damage         83047 non-null  object
 12  Aircraft.Category       29226 non-null  object
 13  Registration.Number     81756 non-null  object
 14  Make                    85908 non-null  object
 15  Model                   85877 non-null  object
 16  Amateur.Built           85296 non-null  object
 17  Number.of.Engines       80399 non-null  float64
 18  Engine.Type             80872 non-null  object
 19  FAR.Description         28929 non-null  object
 20  Schedule                12179 non-null  object
 21  Purpose.of.flight       80584 non-null  object
 22  Air.carrier             4591 non-null   object
 23  Total.Fatal.Injuries    58158 non-null  float64
 24  Total.Serious.Injuries  55466 non-null  float64
 25  Total.Minor.Injuries    56695 non-null  float64
 26  Total.Uninjured         71092 non-null  float64
 27  Weather.Condition       82304 non-null  object
 28  Broad.phase.of.flight   78382 non-null  object
 29  Report.Status           84983 non-null  object
 30  Publication.Date        70326 non-null  object
dtypes: float64(7), object(24)
memory usage: 20.3+ MB

In [7]:
# rows and columns

df.shape

(85976, 31)

In [8]:
# check for any security implication

df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'LOCATION', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

### 3. Data Cleaning and Wrangling

In [9]:
# Rename columns

df.rename(columns = {'LOCATION':'Location', 'Aircraft.damage':'Aircraft.Damage', 'Broad.phase.of.flight':'Broad.Phase.Of.Flight'}, inplace = True)

There are many columns in this data set that are not relevant for this analysis as there is a lot of data missing, therefore I will identify them and drop those columns.

In [10]:
# Drop irrelevant columns not required for the analysis.

df = df.drop(columns = ['Event.Id', 'Accident.Number', 'Airport.Code', 'Registration.Number', 'FAR.Description', 'Schedule', 'Air.carrier', 'Report.Status', 'Publication.Date'])

In [11]:
# Check the columns have successfully been dropped

df.dtypes

Investigation.Type         object
Event.Date                 object
Location                   object
Country                    object
Latitude                  float64
Longitude                 float64
Airport.Name               object
Injury.Severity            object
Aircraft.Damage            object
Aircraft.Category          object
Make                       object
Model                      object
Amateur.Built              object
Number.of.Engines         float64
Engine.Type                object
Purpose.of.flight          object
Total.Fatal.Injuries      float64
Total.Serious.Injuries    float64
Total.Minor.Injuries      float64
Total.Uninjured           float64
Weather.Condition          object
Broad.Phase.Of.Flight      object
dtype: object

In [12]:
df.shape

(85976, 22)

The 'Location' column contains information regarding the City and State. I feel that by splitting the column will allow me to produce deeper insight in to the data set.

In [13]:
df['City'] = df['Location'].str.split(',').str[0]

In [14]:
df['State'] = df['Location'].str.split(',').str[1]

The 'Injurity.Severity' column also contains information about the count of fatalities but a separate column already exists for this information. I will also split this column.

In [15]:
df['InjurySeverityType'] = df['Injury.Severity'].str.split(',').str[0]

Now that the columns have been split I will check to see if they have been done.

In [16]:
df.dtypes

Investigation.Type         object
Event.Date                 object
Location                   object
Country                    object
Latitude                  float64
Longitude                 float64
Airport.Name               object
Injury.Severity            object
Aircraft.Damage            object
Aircraft.Category          object
Make                       object
Model                      object
Amateur.Built              object
Number.of.Engines         float64
Engine.Type                object
Purpose.of.flight          object
Total.Fatal.Injuries      float64
Total.Serious.Injuries    float64
Total.Minor.Injuries      float64
Total.Uninjured           float64
Weather.Condition          object
Broad.Phase.Of.Flight      object
City                       object
State                      object
InjurySeverityType         object
dtype: object

As we can see above the last 3 columns have been created therefore I do not require the 'Location' and 'Injury.Severity' and so they will be dropped.

In [17]:
# Drop 'Location' and 'Injury.Severity' columns

df = df.drop(columns = ['Location', 'Injury.Severity'])

In [18]:
# Check columns have been removed

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85976 entries, 0 to 85975
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Investigation.Type      85963 non-null  object
 1   Event.Date              85976 non-null  object
 2   Country                 85469 non-null  object
 3   Latitude                31587 non-null  float64
 4   Longitude               31578 non-null  float64
 5   Airport.Name            51298 non-null  object
 6   Aircraft.Damage         83047 non-null  object
 7   Aircraft.Category       29226 non-null  object
 8   Make                    85908 non-null  object
 9   Model                   85877 non-null  object
 10  Amateur.Built           85296 non-null  object
 11  Number.of.Engines       80399 non-null  float64
 12  Engine.Type             80872 non-null  object
 13  Purpose.of.flight       80584 non-null  object
 14  Total.Fatal.Injuries    58158 non-null  float64
 15  Total.Serious.Injuries  55466 non-null  float64
 16  Total.Minor.Injuries    56695 non-null  float64
 17  Total.Uninjured         71092 non-null  float64
 18  Weather.Condition       82304 non-null  object
 19  Broad.Phase.Of.Flight   78382 non-null  object
 20  City                    85898 non-null  object
 21  State                   85394 non-null  object
 22  InjurySeverityType      85842 non-null  object
dtypes: float64(7), object(16)
memory usage: 15.1+ MB

In [19]:
# Check for Missing Values

df.isnull().sum()

Investigation.Type           13
Event.Date                    0
Country                     507
Latitude                  54389
Longitude                 54398
Airport.Name              34678
Aircraft.Damage            2929
Aircraft.Category         56750
Make                         68
Model                        99
Amateur.Built               680
Number.of.Engines          5577
Engine.Type                5104
Purpose.of.flight          5392
Total.Fatal.Injuries      27818
Total.Serious.Injuries    30510
Total.Minor.Injuries      29281
Total.Uninjured           14884
Weather.Condition          3672
Broad.Phase.Of.Flight      7594
City                         78
State                       582
InjurySeverityType          134
dtype: int64

As we can see from the above every column part from the 'Event.Date' column has missing values. As the missing values are on the greater side I find that they will need to be replaced to give a better insight in to the analysis.

In [20]:
df.describe()

,Latitude,Longitude,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,31587.000000,3.157800e+04,80399.000000,58158.000000,55466.000000,56695.000000,71092.000000
mean,37.455487,-2.655576e+03,1.147564,0.847037,0.330833,0.521104,6.131393
std,12.519763,4.553227e+05,0.446792,6.291200,1.367596,2.878535,30.180326
min,-78.016945,-8.091184e+07,0.000000,0.000000,0.000000,0.000000,0.000000
25%,33.269167,-1.147209e+02,1.000000,0.000000,0.000000,0.000000,0.000000
50%,38.091111,-9.431139e+01,1.000000,0.000000,0.000000,0.000000,1.000000
75%,42.505139,-8.164129e+01,1.000000,1.000000,0.000000,1.000000,2.000000
max,89.218056,4.358333e+02,8.000000,349.000000,111.000000,380.000000,699.000000

For the numerical variable I w have decide to replace them with the mean value.

In [21]:
df['Latitude'].fillna(df['Latitude'].mean(), inplace = True)

In [22]:
df['Longitude'].fillna(df['Longitude'].mean(), inplace = True)

In [23]:
df['Number.of.Engines'].fillna(df['Number.of.Engines'].mean(), inplace = True)

In [24]:
df['Total.Fatal.Injuries'].fillna(df['Total.Fatal.Injuries'].mean(), inplace = True)

In [25]:
df['Total.Serious.Injuries'].fillna(df['Total.Serious.Injuries'].mean(), inplace = True)

In [26]:
df['Total.Minor.Injuries'].fillna(df['Total.Minor.Injuries'].mean(), inplace = True)

In [27]:
df['Total.Uninjured'].fillna(df['Total.Uninjured'].mean(), inplace = True)

In [28]:
# check if the above columns if the missing values have been replaced

df.isnull().sum()

Investigation.Type           13
Event.Date                    0
Country                     507
Latitude                      0
Longitude                     0
Airport.Name              34678
Aircraft.Damage            2929
Aircraft.Category         56750
Make                         68
Model                        99
Amateur.Built               680
Number.of.Engines             0
Engine.Type                5104
Purpose.of.flight          5392
Total.Fatal.Injuries          0
Total.Serious.Injuries        0
Total.Minor.Injuries          0
Total.Uninjured               0
Weather.Condition          3672
Broad.Phase.Of.Flight      7594
City                         78
State                       582
InjurySeverityType          134
dtype: int64

The columns have been successfully replaced. The categorical variables still need to be replaced. For this I have decided to replace them with NaN.

In [29]:
df.dtypes

Investigation.Type         object
Event.Date                 object
Country                    object
Latitude                  float64
Longitude                 float64
Airport.Name               object
Aircraft.Damage            object
Aircraft.Category          object
Make                       object
Model                      object
Amateur.Built              object
Number.of.Engines         float64
Engine.Type                object
Purpose.of.flight          object
Total.Fatal.Injuries      float64
Total.Serious.Injuries    float64
Total.Minor.Injuries      float64
Total.Uninjured           float64
Weather.Condition          object
Broad.Phase.Of.Flight      object
City                       object
State                      object
InjurySeverityType         object
dtype: object

In [30]:
# Replace categorical columns with NaN

categorical_columns = df.select_dtypes(include=['object']).columns

df[categorical_columns] = df[categorical_columns].fillna("NaN")

In [31]:
# Check missing values have been successfully replaced

df.isnull().sum()

Investigation.Type        0
Event.Date                0
Country                   0
Latitude                  0
Longitude                 0
Airport.Name              0
Aircraft.Damage           0
Aircraft.Category         0
Make                      0
Model                     0
Amateur.Built             0
Number.of.Engines         0
Engine.Type               0
Purpose.of.flight         0
Total.Fatal.Injuries      0
Total.Serious.Injuries    0
Total.Minor.Injuries      0
Total.Uninjured           0
Weather.Condition         0
Broad.Phase.Of.Flight     0
City                      0
State                     0
InjurySeverityType        0
dtype: int64

As we can see there are no more missing values.

In [32]:
# Check for duplicates

df_dups = df[df.duplicated()]

In [33]:
df_dups

,Investigation.Type,Event.Date,Country,Latitude,Longitude,Airport.Name,Aircraft.Damage,Aircraft.Category,Make,Model,...,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.Phase.Of.Flight,City,State,InjurySeverityType
201,Accident,11/3/2020,United States,26.178708,-97.974006,Mid Valley Airport,Substantial,Airplane,Piper,J3C,...,Personal,0.000000,1.000000,1.000000,0.000000,VMC,NaN,WESLACO,TX,Siruose
1756,Accident,9/11/2019,United States,41.889141,-87.620178,NaN,NaN,Airplane,Bombardier,CL 600 2C10,...,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,Chicago,IL,NaN
1902,Accident,8/17/2019,United States,29.180000,-81.058056,Daytona Beach Intl,Substantial,Airplane,Cessna,172,...,Instructional,0.847037,0.330833,0.521104,2.000000,VMC,Taxi,DAYTONA BEACH,FL,Non-Fatal
2322,Accident,6/11/2019,United States,33.067778,-96.065278,Majors Airport,Substantial,Airplane,Cessna,152,...,Instructional,0.847037,0.330833,0.521104,2.000000,VMC,Taxi,GREENVILLE,TX,Non-Fatal
2475,Accident,5/15/2019,United States,38.885277,-121.423889,Van Dyke Strip,Destroyed,Airplane,Grumman,G164,...,Aerial Application,2.000000,0.330833,0.521104,6.131393,VMC,Descent,Pleasant Grove,CA,Fatal(2)
2880,Accident,1/29/2019,United States,32.634722,-96.970278,Grand Prairie Muni,Substantial,Airplane,Cessna,172,...,Instructional,0.847037,0.330833,0.521104,4.000000,VMC,NaN,GRAND PRAIRIE,TX,Non-Fatal
7087,Accident,7/23/2016,United States,38.802778,-121.767500,Riego Flight Strip Airport,Substantial,Airplane,Air Tractor Inc,AT 502B,...,Aerial Application,1.000000,0.330833,1.000000,6.131393,VMC,NaN,ZAMORA,CA,Fatal(1)
9313,Accident,4/1/2015,Ireland,37.455487,-2655.575588,NaN,Substantial,Airplane,The Boeing Company,BOEING 737-8AS,...,NaN,0.847037,0.330833,0.521104,6.131393,NaN,Taxi,DUBLIN,IRELAND,Unavailable
12083,Accident,6/13/2013,United States,39.668056,-119.876389,Reno/Stead Airport,Substantial,Airplane,Aero Vodochody,L39C,...,Air Race/show,0.847037,0.330833,0.521104,2.000000,VMC,Maneuvering,RENO,NV,Non-Fatal
13396,Accident,8/18/2012,Brazil,-22.823056,-47.396666,NaN,Substantial,Airplane,Embraer,EMB711,...,Personal,4.000000,0.330833,0.521104,6.131393,VMC,NaN,STA BARBARA D'OESTE,BRAZIL,Fatal(4)
14231,Incident,4/13/2012,Spain,37.455487,-2655.575588,NaN,Minor,Airplane,Boeing,737 - 800,...,NaN,0.847037,0.330833,0.521104,6.131393,NaN,Standing,Seville,Spain,Incident
14919,Incident,10/12/2011,Japan,37.455487,-2655.575588,NaN,NaN,NaN,Boeing,767,...,NaN,0.847037,0.330833,0.521104,210.000000,NaN,NaN,Kansai,Japan,Incident
14977,Accident,9/30/2011,Spain,37.455487,-2655.575588,NaN,NaN,Helicopter,Bell,212,...,NaN,1.000000,0.330833,0.521104,6.131393,NaN,NaN,Bienservida,Spain,Fatal(1)
16440,Accident,1/21/2011,"Korea, Republic Of",37.455487,-2655.575588,NaN,Substantial,Airplane,Cessna,172,...,Instructional,2.000000,0.330833,0.521104,6.131393,NaN,NaN,ULJIN AIRPORT,KOREA,Fatal(2)
16960,Accident,9/15/2010,United States,59.059444,-158.530278,Shannons Pond Seaplane,Substantial,Airplane,Piper,PA-18,...,Personal,0.847037,1.000000,1.000000,6.131393,VMC,Takeoff,DILLINGHAM,AK,Non-Fatal
18612,Accident,10/10/2009,United States,37.455487,-2655.575588,Pineville Municipal,Substantial,Airplane,Cessna,150F,...,Personal,2.000000,1.000000,1.000000,6.131393,VMC,Maneuvering,ALEXANDRIA,LA,Fatal(2)
20465,Accident,10/7/2008,United States,60.779723,-161.838055,Bethel,Substantial,Airplane,Cessna,208B,...,NaN,0.847037,0.330833,1.000000,17.000000,VMC,Taxi,BETHEL,AK,Non-Fatal
20542,Incident,9/22/2008,United States,37.455487,-2655.575588,Greater Peoria Regional Airpor,NaN,NaN,NaN,NaN,...,NaN,0.000000,0.000000,0.000000,0.000000,VMC,Landing,Peoria,IL,Incident
21140,Accident,6/29/2008,United States,35.200833,-111.634166,Flagstaff Medical Center East,Destroyed,Helicopter,Bell,407,...,NaN,7.000000,0.330833,0.521104,6.131393,VMC,Approach,Flagstaff,AZ,Fatal(7)
22673,Accident,9/2/2007,United States,40.728611,-73.413333,Republic Airport,Substantial,NaN,North American,SNJ-2,...,Other Work Use,0.847037,0.330833,0.521104,2.000000,VMC,Taxi,FARMINGDALE,NY,Non-Fatal
22938,Accident,7/27/2007,United States,33.491111,-112.067500,NaN,Destroyed,Helicopter,Eurocopter,AS350-B2,...,Other Work Use,4.000000,0.330833,0.521104,6.131393,VMC,Maneuvering,Phoenix,AZ,Fatal(4)
23597,Accident,4/21/2007,United States,31.057778,-104.783889,Culberson County Airport,Substantial,NaN,Robinson,R22 Beta,...,Instructional,0.847037,0.330833,0.521104,4.000000,VMC,Standing,VAN HORN,TX,Non-Fatal
27331,Incident,5/17/2005,United States,39.861667,-104.673056,Denver International Airport,Minor,NaN,Boeing,737-322,...,NaN,0.847037,0.330833,0.521104,187.000000,VMC,Taxi,Denver,CO,Incident
28604,Accident,8/28/2004,United States,34.626389,-112.244444,ERNEST A. LOVE FIELD,Destroyed,NaN,American Champion (acac),8KCAB,...,Personal,2.000000,0.330833,0.521104,6.131393,VMC,Maneuvering,Prescott,AZ,Fatal(2)
34591,Accident,8/27/2001,United States,39.018056,-123.194166,NaN,Destroyed,NaN,Grumman,TS-2A,...,Public Aircraft,2.000000,0.330833,0.521104,6.131393,VMC,Maneuvering,Hopland,CA,Fatal(2)
37519,Accident,5/27/2000,United States,37.455487,-2655.575588,FLAGLER COUNTY,Destroyed,NaN,Avions Mudry Et Cie,CAP 10B,...,Unknown,2.000000,0.000000,0.000000,0.000000,VMC,Maneuvering,BUNNELL,FL,Fatal(2)
42244,Accident,4/19/1998,United States,37.455487,-2655.575588,KISSIMMEE MUNICIPAL,Destroyed,NaN,Boeing,A-75N1,...,Unknown,2.000000,0.000000,0.000000,0.000000,VMC,Maneuvering,KISSIMMEE,FL,Fatal(2)
46830,Accident,2/24/1996,Cuba,37.455487,-2655.575588,NaN,Destroyed,Airplane,Cessna,337,...,Other Work Use,4.000000,0.330833,0.521104,6.131393,VMC,NaN,Havana,Cuba,Fatal(4)
47793,Accident,8/27/1995,United States,37.455487,-2655.575588,FORT COLLINS/LOVELAND,Substantial,NaN,Piper,PA-28-181,...,Personal,0.000000,0.000000,0.000000,1.000000,VMC,Landing,FORT COLLINS,CO,Non-Fatal
50904,Accident,5/19/1994,United States,37.455487,-2655.575588,WALLOM FIELD,Substantial,NaN,Robinson,R22-B,...,Other Work Use,0.000000,0.000000,1.000000,1.000000,VMC,Standing,STOCKTON,CA,Non-Fatal
51125,Accident,4/10/1994,United States,37.455487,-2655.575588,NaN,Substantial,NaN,Globe,9C-1B,...,Unknown,0.000000,0.000000,0.000000,2.000000,VMC,Maneuvering,OKEECHOBEE,FL,Non-Fatal
54469,Accident,9/21/1992,United States,37.455487,-2655.575588,ORLANDO EXECUTIVE,Substantial,NaN,Cessna,210L,...,Unknown,0.000000,0.000000,0.000000,1.000000,VMC,Approach,ORLANDO,FL,Non-Fatal
55736,Accident,4/23/1992,United States,37.455487,-2655.575588,NaN,Substantial,NaN,Cessna,152,...,Personal,0.000000,1.000000,1.000000,2.000000,VMC,Cruise,BRANSON,MO,Non-Fatal
57265,Accident,7/31/1991,United States,37.455487,-2655.575588,NaN,Destroyed,NaN,Aero Commander,500B,...,Unknown,2.000000,0.000000,0.000000,0.000000,VMC,Maneuvering,SILICA,KS,Fatal(2)
58169,Accident,4/19/1991,United States,37.455487,-2655.575588,NaN,Substantial,NaN,Ercoupe (eng & Research Corp.),415-C,...,Personal,0.000000,0.000000,1.000000,1.000000,VMC,Climb,SANTA ROSA,NM,Non-Fatal
58481,Accident,3/2/1991,United States,37.455487,-2655.575588,NaN,Substantial,NaN,Boeing,A75,...,Other Work Use,0.000000,0.000000,0.000000,3.000000,VMC,Maneuvering,MARANA,AZ,Non-Fatal
59104,Accident,10/20/1990,United States,37.455487,-2655.575588,KENT STATE,Substantial,NaN,Cessna,152,...,Instructional,0.000000,0.000000,0.000000,2.000000,VMC,Approach,KENT,OH,Non-Fatal
61100,Accident,2/9/1990,United States,37.455487,-2655.575588,TETERBORO,Substantial,NaN,Mitsubishi,MU-2B-35,...,Unknown,0.000000,0.000000,0.000000,2.000000,VMC,Taxi,TETERBORO,NJ,Non-Fatal
63520,Incident,3/1/1989,United States,37.455487,-2655.575588,HOUSTON INTERCONTINENTAL,NaN,NaN,Mcdonnell Douglas,DC-9-82,...,Unknown,0.000000,0.000000,0.000000,185.000000,IMC,Approach,HOUSTON,TX,Incident
64896,Incident,8/5/1988,United States,37.455487,-2655.575588,HARTSFIELD,Minor,NaN,Douglas,DC-9-51,...,Unknown,0.000000,0.000000,0.000000,199.000000,UNK,Taxi,ATLANTA,GA,Incident
66152,Incident,3/10/1988,United States,37.455487,-2655.575588,NaN,NaN,NaN,Boeing,737,...,Unknown,0.000000,0.000000,0.000000,159.000000,VMC,Maneuvering,GREENSBORO,NC,Incident
72441,Accident,11/30/1985,United States,37.455487,-2655.575588,SAN PEDRO HELISTOP,Destroyed,NaN,Bell,206L-1,...,Unknown,1.000000,4.000000,7.000000,0.000000,VMC,Approach,SAN PEDRO,CA,Fatal(1)
77311,Accident,6/18/1984,United States,37.455487,-2655.575588,REED,Substantial,NaN,Snow,AT400,...,Aerial Application,0.000000,0.000000,0.000000,2.000000,VMC,Landing,PORTLAND,AR,Non-Fatal
78037,Accident,4/13/1984,United States,37.455487,-2655.575588,DELAND MUNICIPAL,Substantial,NaN,Cessna,172P,...,Instructional,0.000000,0.000000,0.000000,2.000000,VMC,Taxi,DELAND,FL,Non-Fatal
81227,Accident,5/22/1983,United States,37.455487,-2655.575588,NaN,Substantial,NaN,Schempp-hirth,STANDARD CIRRUS,...,Unknown,1.000000,0.000000,0.000000,1.000000,VMC,Cruise,BRIDGEPORT,CA,Fatal(1)
82895,Accident,10/18/1982,NaN,37.455487,-2655.575588,NaN,Destroyed,Helicopter,Bell,206B,...,Unknown,3.000000,0.000000,0.000000,0.000000,VMC,Cruise,GULF OF MEXICO,NaN,Fatal(3)
84615,Accident,5/28/1982,United States,37.455487,-2655.575588,NaN,Substantial,Airplane,Cessna,172,...,Personal,0.000000,0.000000,0.000000,7.000000,VMC,Cruise,EVANSVILLE,IN,Non-Fatal

There are no duplicates in the data set as the event dates differ.

In [34]:
# Check for any mixed-type data columns

for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

There are no mixed type data columns in this data set

#### Basic descriptive statistical analysis

In [35]:
df.describe()

,Latitude,Longitude,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,85976.000000,8.597600e+04,85976.000000,85976.000000,85976.000000,85976.000000,85976.000000
mean,37.455487,-2.655576e+03,1.147564,0.847037,0.330833,0.521104,6.131393
std,7.588525,2.759425e+05,0.432058,5.174262,1.098452,2.337513,27.443857
min,-78.016945,-8.091184e+07,0.000000,0.000000,0.000000,0.000000,0.000000
25%,37.455487,-2.655576e+03,1.000000,0.000000,0.000000,0.000000,1.000000
50%,37.455487,-2.655576e+03,1.000000,0.847037,0.000000,0.521104,1.000000
75%,37.455487,-1.100514e+02,1.000000,0.847037,0.330833,0.521104,4.000000
max,89.218056,4.358333e+02,8.000000,349.000000,111.000000,380.000000,699.000000

### 4. Export Data

In [36]:
# Export data set to csv, Prepared Data

df.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'AviationData.csv'))

In [37]:
df.shape

(85976, 23)